name: Spell Check

on: [pull_request]

jobs:
  typos-check:
    runs-on: self-hosted
    steps:
      - name: Checkout Actions Repository
        uses: actions/checkout@v6
      - name: Check spelling
        uses: crate-ci/typos@78bc6fb2c0d734235d57a2d6b9de923cc325ebdd # v1.43.4
