name: Spell Check

on: [pull_request]

jobs:
  typos-check:
    runs-on: self-hosted
    steps:
      - name: Checkout Actions Repository
        uses: actions/checkout@v6
      - name: Check spelling
        uses: crate-ci/typos@57b11c6b7e54c402ccd9cda953f1072ec4f78e33 # v1.43.5
