name: Spell Check

on: [pull_request]

jobs:
  typos-check:
    runs-on: self-hosted
    steps:
      - name: Checkout Actions Repository
        uses: actions/checkout@v4
      - name: Check spelling
        uses: crate-ci/typos@bb4666ad77b539a6b4ce4eda7ebb6de553704021 # v1.42.0
